@import url("https://rsms.me/inter/inter.css");
:root {
    --clr1: #1A1423;
    --clr2: #E5BE9E;
    --clr3: #3D314A;
    --clr4: #B4A6AB;
}

body {
    background-color: var(--clr1);
    color: var(--clr2);
    font-family: "Inter", sans-serif;
    display: grid;
    place-content: center;
}

#Tree {
    list-style: none;
    font-size: 1.5em;
    padding-left: 1em;
    
    --special-char: "⊧";
    --state-string: "\00a0\00a0 x - disable";
    &.disabled {
        --state-string: "\00a0\00a0 Esc - enable";
        color: var(--clr3);
    }

    .backspace {
        &::before { content: '⌫ - '; }
        &.start { color: var(--clr3); }
    }

    li {
        padding-bottom: 0.3em;
        &::before {
            content: counter(list-item) " " var(--special-char) " ";
            font-family: "Fira Code", monospace;
        }

        &:has(a) { --special-char: "→"; }
    }

    &::after {
        color: #B4A6AB;
        content: var(--state-string);
        font-size: 0.8em;
    }
}

#Settings {
    color: var(--clr4);
    text-align: right;

    #SettingsBtn { cursor: pointer; }
}

#Search {
    width: min(98vw, 500px);

    input {
        outline: none;
        border: none;
        border-bottom: 3px solid var(--clr3);
        background: none;
        color: var(--clr2);
        font-size: 1.5em;
        padding: 0.2em 0.6em 0.5em 0.6em;
        font-family: "Inter", sans-serif;
        
        &::placeholder { color: var(--clr3); }
        &:focus { border-color: var(--clr4); }
    }
}
