@import url("https://rsms.me/inter/inter.css");
:root {
    --background: #1A1423;
    --color: #E5BE9E;
    --background-alt: #3D314A;
    --color-alt: #B4A6AB;
    --link-hover: #E56A75;
}

html {
    background-color: var(--background);
    color: var(--color);
    font-family: "Inter", sans-serif;
}

body {
    display: grid;
    place-content: center;
}

main { width: min(98vw, 500px); }

#tree {
    list-style: none;
    font-size: 1.5em;
    padding-left: 1em;
    
    --special-char: "⊧";
    --state-string: "\00a0\00a0 x - disable";
    &.disabled {
        --state-string: "\00a0\00a0 Esc - enable";
        color: var(--background-alt);
        a { color: var(--background-alt); }
        .backspace { color: var(--background-alt); }
    }

    .backspace {
        cursor: pointer;
        margin-bottom: 0.5em;
        color: var(--color-alt);

        &::before { content: '⌫ - '; }
        &.start { color: var(--background-alt); }
    }

    li {
        padding-bottom: 0.3em;

        &::before {
            content: counter(list-item) " " var(--special-char) " ";
            font-family: "Fira Code", monospace;
        }

        &:has(a) { --special-char: "→"; }
    }
    
    &:not(.disabled) li :hover { color: var(--link-hover); }
    
    &::after {
        color: var(--color-alt);
        content: var(--state-string);
        font-size: 0.8em;
    }

    a {
        color: var(--color);
        text-decoration: none;
    }
    
    span { cursor: pointer; }
}

#settings {
    color: var(--color-alt);
    
    summary {
        cursor: pointer;
        text-align: right;
        outline: none;
        list-style: none;
        user-select: none;
    }

    textarea {
        margin: 1em 0;
        background-color: var(--background-alt);
        color: var(--color);
        border: 1px solid var(--color-alt);
        font-family: "Fira Code", monospace;
        padding: 0.8em;
        resize: none;
        width: 90%;
        height: 10em;
    }

    button {
        background-color: var(--color-alt);
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        color: var(--background);
        padding: 0.3em;
        border: 3px solid var(--background-alt);
        margin-bottom: 1em;
        outline: none;
    }

    input { accent-color: var(--color); }

    input[type="color"] {
        border: none;
        margin: 0 0 0.5em 0.5em;
    }

    input[type="color"] ~ label { padding-left: 0.5em; }

    select {
        font-family: 'Inter', sans-serif;
        background-color: var(--background-alt);
        color: var(--color);
        border: 1px solid var(--color-alt);
        outline: none;
        font-size: 0.9em;
    }
}

#search {
    input {
        outline: none;
        border: none;
        border-bottom: 3px solid var(--background-alt);
        background: none;
        color: var(--color);
        font-size: 1.5em;
        padding: 0.2em 0.6em 0.5em 0.6em;
        font-family: "Inter", sans-serif;
        
        &::placeholder { color: var(--background-alt); }
        &:focus { border-color: var(--color-alt); }
    }
}
