:root {
  --background: #1a1423;
  --color: #e5be9e;
  --backspace: #b4a6ab;
  --accent: #e56a75;
  --inactive: #3d314a;

  --font-sans-serif: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-monospace: "Fira Code", "Fira Mono", monospace;

  font-family: var(--font-sans-serif);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--background);
  color: var(--color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;

  > section,
  > nav {
    width: min(98vw, 600px);
  }
}

nav {
  display: flex;
  justify-content: flex-end;

  img {
    width: 2.5em;
    cursor: pointer;
  }
}

li {
  font-family: var(--font-monospace);
  font-size: 1.5em;
  list-style: none;
  padding-bottom: 0.2em;

  a {
    cursor: pointer;
    font-family: var(--font-sans-serif);
    text-decoration: none;
    color: var(--color);

    &:hover {
      color: var(--accent);
    }
  }

  &.backspaceItem {
    color: var(--backspace);
    margin-bottom: 0.2em;

    a {
      color: var(--backspace);
    }

    &.inactive {
      color: var(--inactive);
      a {
        color: var(--inactive);
        cursor: inherit;
      }
    }
  }
}

.linksEditor {
  .linksEditor {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-top: 0.2em;
  }

  > span {
    padding-bottom: 0.2em;

    > button:last-of-type {
      margin-right: 0.5em;
    }

    > a {
      cursor: pointer;
    }
  }

  input {
    color: var(--backspace);
    font-family: var(--font-sans-serif);
    font-size: 1em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--backspace);
  }

  button {
    margin-right: 0.2em;
  }
}

button {
  --btn-bg: var(--color);
  --btn-clr: var(--background);

  color: var(--btn-clr);
  background-color: var(--btn-bg);
  border: 3px solid var(--btn-bg);
  border-radius: 0.9em;
  padding: 0.3em 0.5em 0.1em;

  font-family: var(--font-monospace);
  font-weight: bold;

  cursor: pointer;

  &:hover,
  &.selected {
    color: var(--btn-bg);
    background-color: var(--btn-clr);
  }

  &:disabled {
    --btn-bg: var(--backspace);
    cursor: initial;

    &:hover {
      color: var(--btn-clr);
      background-color: var(--btn-bg);
    }
  }
}
