:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #1a1423;
  color: #e5be9e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  justify-content: center;

  > section {
    width: min(98vw, 600px);
  }
}

li {
  font-family: "Fira Code", "Fira Mono", monospace;
  font-size: 1.5em;
  list-style: none;
  padding-bottom: 0.2em;

  a {
    cursor: pointer;
    font-family: Inter;
    text-decoration: none;
    color: #e5be9e;

    &:hover {
      color: #E56A75;
    }
  }

  &.backspaceItem {
    color: #b4a6ab;
    a {
      color: #b4a6ab;
    }
    margin-bottom: 0.2em;

    &.inactive {
      color: #3d314a;
      a {
        color: #3d314a;
      }
    }
  }
}
